*{
	font-family: 'Lato', Helvetica;
}

.no-highlight, .button{
	-webkit-touch-callout: none;
	  -webkit-user-select: none;  
	   -khtml-user-select: none;   
		 -moz-user-select: none;     
		  -ms-user-select: none;      
			  user-select: none;
}

body{
	background:#0b0b0b;
}

.header, #content{
	text-align:center;
}

table{
	width:100%;
}

th, td{
	padding:5px;
	text-align:center;
}

tr.odd th{
	background:#ddd;
	color:#878787;
}

tr.odd td{
	background:#eee;
	color:#AD8B8B;
}

tr.even th{
	background:#878787;
	color:#ddd;
}

tr.even td{
	background:#AD8B8B;
	color:#eee;
}

.button{
	background:#467763;
	width:43vw;
	display:inline-block;
	text-align:center;
	padding:1vw;
	border-radius:100px;
	margin:1vw;
	font-size:2vw;
	color:#EFB1FF;
	font-weight:300;
	cursor:pointer;
	border:0.3vw solid #2A2A2A;
	
	background: -webkit-linear-gradient(170deg, #000 0%, #262626 100%);
	background:    -moz-linear-gradient(170deg, #000 0%, #262626 100%);
	background:      -o-linear-gradient(170deg, #000 0%, #262626 100%);
	background:         linear-gradient(170deg, #000 0%, #262626 100%);
	
	transition:filter 1s;
}
.button:hover{
	filter:hue-rotate(90deg) invert(100%);
}

.button-sm{
	width:27vw;
	border:0.3vw solid #C91F1F;
	
	background: -webkit-linear-gradient(170deg, #A54039 0%, #FF6868 100%);
	background:    -moz-linear-gradient(170deg, #A54039 0%, #FF6868 100%);
	background:      -o-linear-gradient(170deg, #A54039 0%, #FF6868 100%);
	background:         linear-gradient(170deg, #A54039 0%, #FF6868 100%);
}

.container{
	width:30vw;
	padding:1vw;
	display:inline-block;
}

.item{
	width:100%;
	border-radius:20px;
	overflow:hidden;
	cursor:pointer;
	
	border:3px solid #636363;
	
	transition:border-color 0.5s;
}

.item:hover{
	border-color:royalblue;
}

.item .title{
	padding:1vw;
	font-size:1.5vw;
	font-weight:300;
	white-space:nowrap;
	color:#B0B0B0;
	
	background: -webkit-linear-gradient(-10deg, #232323 0%, #000 100%);
	background:    -moz-linear-gradient(-10deg, #232323 0%, #000 100%);
	background:      -o-linear-gradient(-10deg, #232323 0%, #000 100%);
	background:         linear-gradient(-10deg, #232323 0%, #000 100%);
	
	border-bottom:1px solid #595959;
}

.item .img{
	height:200px;
	background-size:cover;
	background-position:center;
	filter:brightness(40%);
	
	transition:filter 0.5s;
}

.item:hover .img{
	filter:brightness(100%);
}

@media (max-width: 700px){
	.button{
		width:90%;
		padding:10px;
		margin:5px;
		font-size:16px;
		border:2px solid #6E2852;
	}
	
	.button-2{
		width:90%;
	}
	
	.container{
		width:90%;
	}
	
	.item .title{
		padding:8px;
		font-size:20px !important;
	}
}